.page__header {
	max-width: 100%;
	padding: 0;

	> h1,
	> p {

	}

	> p {
		margin: 0;
		font-style: italic;
	}

}

	.page__nav {
		font-family: $fontSecondary;
		background: $colorDark;
		color: $colorBright;

		> ul {
			margin: 0;
			padding: 0;

			> li {
				display: inline;

				> a {
					display: inline-block;
					padding: 0.25rem 0.5rem;

					color: $colorBright;
					text-decoration: none;

					&.active {
						border-bottom: 0.25rem solid $keyColor;
					}
				}
			}
		}
	}

	.page__header__logo {
		display: inline-block;
		width: 5rem;
		height: 5rem;
		margin-top: 2rem;

		border-radius: 50%;
		text-align: center;
		background: $colorDark;
		color: $colorBright;

		> p {
			position: relative;
			display: inline-block;
			margin: 1.6rem 0 0 0;
		}
	}
