.page__main {

}

/* Sign Up Form */

	.latest__post a {
		color: $colorKey;
	}

	.form__signup--poweredby {
		color: $grey-mid;

		a {
			color: $grey-mid;
		}
	}

	.form__signup--legal {
		margin: 2rem 0 0 0;
		font-size: 1rem;
	}

	.form__signup--email {
		padding: 0.75rem;
		border: 1px solid #111;

		-webkit-appearance: none;
		   -moz-appearance: none;
			-ms-appearance: none;
				appearance: none;
	}

	.form__signup--submit {
		margin: 0.25rem 0 0.25rem 0;
		padding: 0.75rem 2rem;

		font-family: $fontMain;
		background: $buttonPositive;
		color: #fff;
		border: 0;
		border-radius: 4px;
		text-shadow: none;
	}


	/* Wufoo User Submit Form */
	.submit-form {
		max-width: 27rem;
		margin: 3rem auto;
		padding: 1rem;
		border: 1px solid $keyColor;
	}

/* Archive List */

	.archive__list {
		padding: 0;
		text-align: center;
		list-style-position: inside;

		a {
			color: $keyColor;
		}
	}

	.archive__issue p,
	.archive__issue li {
		text-align: left;
	}

	.archive__issue code {
		background: #eee;
		padding: 0.125rem 0.25rem;
	}

/* Archive details */

.page__archive time {
	color: $grey-mid;
}

.page__archive li {
	margin: 0.5em 0;
}

h3 {
	color: $colorKey;
}
