/* Color Variables */

$background: #fff;
$color: #2e2e2e;

$linkColor: $color;
$colorDark: $color;
$colorBright: $background;
$buttonPositive: #019875;

$grey-mid: #999;


/* Fonts */

$fontMain: 'calluna', 'leitura-news', Georgia, serif;
