/* Color Variables */

$background: #fff;
$color: #2e2e2e;
$colorKey: #019875;

$linkColor: $color;
$colorDark: $color;
$colorBright: $background;
$buttonPositive: $colorKey;
$keyColor: $buttonPositive;

$grey-mid: #999;


/* Fonts */

$fontMain: 'calluna', 'leitura-news', Georgia, serif;
$fontSecondary: 'jaf-bernino-sans', sans-serif;
